---
import Nav from "./nav.astro";
import Hamburguer from "./hamburguer.astro";
import ThemeIcon from './themeIcon.astro';
import '@/styles/global.css';
---
<header>
    <nav>
        <Hamburguer/>
        <Nav/>
        <ThemeIcon>
    </nav>
</header>